<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<h1>Hello!!!</h1>
	<h3>It is Page for Decote text to md5 hash code!</h3>
	<a href="/">Home</a><br>

	<div id="result"></div>
	
	<form id="md5Form" method="" target="result" action="" onsubmit="md5.decodeStr(this)">
		<input type="text" name="text">
		<button type="submit">Decode</button>
	</form>
    <iframe name="result" width="0" height="0" frameborder="0"></iframe>

	<script type="text/javascript" src="md5.js"></script>
</body>
</html>